# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.env
*.sqlite3
.DS_Store

# Virtual Environment
venv/
env/
myenv/
.venv/
myenv/

# VSCode settings
.vscode/

# Logs
*.log

# OS files
Thumbs.db
desktop.ini
